body {
	background-color: #f67a7b;
}

header {
	display: flex;
}

header p {
	padding: 15px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1;
}

nav {
	flex-grow: 2;
	display: flex;
	justify-items: center;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	width: 100%;
	align-items: center;
	margin: 0;
	padding: 0;
}

nav ul li {
	padding: 10px 20px;
	text-decoration: none;
	color: #ffffff;
}

form {
	display: flex;
	flex-direction: column;
	width: 440px;
	height: 400px;
	margin: 20px auto;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
}
form input {
	width: 85%;
	border-radius: 5px;
	border: 1px solid #dedede;
	margin: 10px auto;
	font-size: 14px;
	padding: 15px;
	line-height: 20px;
	font-weight: 600;
}

form input:first-child {
	margin-top: 74px;
}
form input:focus {
	outline: none;
	border: 1px solid #5e54a4;
}

form button {
	width: 92%;
	margin: 20px auto 74px;
	background-color: rgb(56, 204, 139);
	color: #ffffff;
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px;
	border: none;
	cursor: pointer;
	box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.09);
}

form button:focus {
	outline: none;
}

.wrapper {
	display: flex;
	padding: 20px;
	justify-content: space-evenly;
}

.wrapper h1 {
	width: 325px;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.1;
	color: #fff;
	padding: 10px 30px 10px 70px;
}

.wrapper p {
	font-size: 14px;
	line-height: 1.625;
	padding: 10px 30px 10px 70px;
	width: 325px;
	color: #fff;
	font-weight: 500;
}

.friends-list {
	width: 50%;
}

.friends-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.friends-list ul li {
	background-color: #ffffff;
	margin: 20px 5px;
	width: 230px;
	height: 210px;
	border-radius: 8px;
	box-shadow: 0 10px 20px -5px #83a6d2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.friends-list h2 {
	font-size: 17px;
	font-weight: 600;
}

.friends-list span {
	font-size: 13px;
}
.friends-list button {
	margin: 15px auto;
	width: 80%;
	padding: 10px;
	background-color: rgb(56, 204, 139);
	color: #ffffff;
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.09);
}
